<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- VueJs - development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Google Font - Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <!-- Google Font - Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <!-- Google Font - Shadows Into Light -->
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <!-- Google Font - Caveat -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="dist/css/app.css">
    <title>Teambit</title>
</head>
<body>
    <div id="root">
        <header id="header">
            <nav id="navbar">
                <div class="container">
                    <div class="logo">
                        <img v-once :src="imgpath + img.sitelogo" alt="logo">
                    </div>
                    <ul class="menu largemenu">
                        <li><a href="#" class="link">solutions <i class="fas fa-chevron-down"></i></a></li>
                        <li><a href="#" class="link">pricing</a></li>
                        <li><a href="#" class="link">blog</a></li>
                        <li><a href="#" class="link">sign in</a></li>
                        <li><a href="#" class="link link-blue btn_white"><img :src="imgpath + img.google" alt="G">sign up</a></li>
                    </ul>
                    <div class="smallmenu" @click="menushow()">
                        <i class="fas fa-bars"></i>
                        <ul :class="(showmenu)?'active':'hide'">
                            <li><a href="#" class="link">solutions <i class="fas fa-chevron-down"></i></a></li>
                            <li><a href="#" class="link">pricing</a></li>
                            <li><a href="#" class="link">blog</a></li>
                            <li><a href="#" class="link">sign in</a></li>
                            <li><a href="#" class="link link-blue btn_white"><img :src="imgpath + img.google" alt="G">sign up</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section id="presentation">
                <div class="container">
                    <div class="row">
                        <div class="leftside col-lg-6 col-md-12 col-sm-12">
                            <div class="title">
                                <h1>Understand, recognize and develop your people</h1>
                                <h3>Teambit helps teams create a high performing culture with regular feedback.</h3>
                            </div>
                            <div class="sign-up">
                                <a href="#" class="link btn_blue"><img :src="imgpath + img.google" alt="G">sign up with Google</a>
                                <span>or</span>
                                <a href="#" class="link btn_blue"><img :src="imgpath + img.slack" alt="G">sign up with Slack</a>
                                <div class="email">or use your email address
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="rightside col-lg-6 col-md-12 col-sm-12">
                            <div class="image" :style="'background-image: url('+ imgpath + img.ill_1+')'"></div>
                        </div>

                    </div>
                </div>
            </section>
        </header>
        <main id="main">
            <section id="section-top">
                <div class="container">
                    <div class="row">
                        <h2 class="col-offset-lg-3 col-lg-6 col-offset-md-0 col-md-12 col-offset-sm-0 col-sm-12">Traditional people processes lead to disengagement and turnover.</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <img :src="imgpath + img.hardcore" alt="hardcore">
                            <div class="description">They are harcore, formal and disconnected.</div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <img :src="imgpath + img.nofeed" alt="no feedback">
                            <div class="description">They don't encourage regular feedback.</div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <img :src="imgpath + img.notsafe" alt="not safe">
                            <div class="description">They don't make it safe to speak up.</div>
                        </div>
                        <div class="col-offset-lg-3 col-lg-6 col-md-12 col-offset-md-0 col-sm-12 col-offset-sm-0">
                            <img id="before" :src="imgpath + img.before" alt="before">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2 class="col-offset-lg-3 col-lg-6 col-offset-md-0 col-md-12 col-offset-sm-0 col-sm-12">It doesn't have to be like that. Teambit is a modern solution that teammates love.</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <img :src="imgpath + img.light" alt="hardcore">
                            <div class="description">It's lightweight fun and interconnected.</div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <img :src="imgpath + img.sifeed" alt="no feedback">
                            <div class="description">It encourage regular feedback with contextual requests.</div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <img :src="imgpath + img.safe" alt="not safe">
                            <div class="description">It create a safe environment for dialog.</div>
                        </div>
                        <div class="col-offset-lg-3 col-lg-6 col-md-12 col-offset-md-0 col-sm-12 col-offset-sm-0">
                            <img id="before" :src="imgpath + img.after" alt="before">
                        </div>
                    </div>
                    <div class="row">
                        <h2 class="col-offset-lg-3 col-lg-6">Here is how it works.</h2>
                    </div>
                </div>  
            </section>
            <section id="section-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <img :src="imgpath + img.feedback" alt="employee feedback">
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="description">
                                <h2>Feedback to help teammates to improve</h2>
                                <p>Empower your teammates to know in real time what they are doing well and what they need to improve.</p>
                                <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                                <img :src="imgpath + img.communication" alt="communication">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-offset-lg-3 col-lg-3 col-lg-3 col-offset-md-0 col-md-12 col-offset-sm-0 col-sm-12">
                            <div class="description">
                                <h2>Surveys yo help the team be better</h2>
                                <p>Get real-time insights into your team with research-backed, lightweight and regular surveys.</p>
                                <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                                <img :src="imgpath + img.insights" alt="survey">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <img :src="imgpath + img.survey" alt="survey">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <img :src="imgpath + img.em_review" alt="employee review">
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="description">
                                <h2>Review to help teammates get a fair evaluation</h2>
                                <p>Make better compensation and promotion decisions with objective and quick performance reviews.</p>
                                <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                                <img :src="imgpath + img.review" alt="review">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-offset-lg-3 col-lg-3 col-lg-3 col-offset-md-0 col-md-12 col-offset-sm-0 col-sm-12">
                            <div class="description">
                                <h2>Praise to help teammates feel valued</h2>
                                <p>Make it habit to recognize and praise people who do great work.</p>
                                <a href="#">Learn more <i class="fas fa-arrow-right"></i></a>
                                <img :src="imgpath + img.recognition" alt="survey">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <img :src="imgpath + img.em_survey" alt="survey">
                        </div>
                    </div>


                </div>
            </section>
            <section id="section-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-offset-lg-3 col-lg-6 col-offset-md-2 col-md-8 col-offset-sm-0 col-sm-12">

                            <h1>See Teambit for yourself.
                                <br>Get started in seconds
                                <img :src="imgpath + img.happy" alt="party">
                            </h1>
                            <div class="textarea">{{chat.value}}
                                <i class="fas fa-quote-left"></i>
                                <div class="founders">
                                    <img :src="imgpath + img.face_1" alt="">
                                    <img :src="imgpath + img.face_2" alt="">
                                    <div class="signature"><strong>Alex and Bohden</strong><br>Co-Founders at Teambit</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sign-up">
                                <a href="#" class="link btn_blue"><img :src="imgpath + img.google" alt="G">sign up with Google</a>
                                <span>or</span>
                                <a href="#" class="link btn_blue"><img :src="imgpath + img.slack" alt="G">sign up with Slack</a>
                                <div class="email">or use your email address
                                    <i class="fas fa-arrow-right"></i>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </section>
        </main>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="flex col-lg-2 col-md-12 col-sm-12">
                        <img class="logo" :src="imgpath + img.small_logo" alt="logo">
                        <p><strong>Teambit </strong>helps teams create high performing cultures by making feedback a daily habit.</p>
                    </div>
                    <div class="col-lg-1 col-offset-lg-1 col-md-4 col-offset-md-0 col-sm-4 col-offset-sm-0">
                        <ul class="menu">
                            <li class="title">product</li>
                            <li v-for="list in menu.product">{{list}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-1 col-offset-lg-1 col-md-4 col-offset-md-0 col-sm-4 col-offset-sm-0">
                        <ul class="menu">
                            <li class="title">about</li>
                            <li v-for="list in menu.about">{{list}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-1 col-offset-lg-1 col-md-4 col-offset-md-0 col-sm-4 col-offset-sm-0">
                        <ul class="menu">
                            <li class="title">connect</li>
                            <li v-for="list in menu.connect">{{list}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-1 col-offset-lg-1 col-md-4 col-offset-md-0 col-sm-4 col-offset-sm-0">
                        <ul class="menu">
                            <li class="title">lobs</li>
                            <li v-for="list in menu.lobs">{{list}}</li>
                        </ul>
                    </div>
                    <div class="col-lg-1 col-offset-lg-1 col-md-4 col-offset-md-4 col-sm-4 col-offset-sm-0">
                        <ul class="menu">
                            <li class="title">from the blog</li>
                            <li v-for="list in menu.fromtheblog">{{list}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="dist/js/app.js"></script>
</body>
</html>

