//Background
$bg-pink: #ffe7d2;
$bg-white: #fff;
$bg-blue: #2c4792;
//Font
$blue: #2c4792;
$black: #58402c;

//Font size
$fs-small: 14px;
$fs-medium: 20px;
$fs-large: 30px;
$fs-big: 50px; 