//reset
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: $black;
}
//buttons
@mixin btn{
    display: flex;
    align-content: center;
    align-items: center;
    background-color: $bg-white;
    border: 1px solid $blue;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    line-height: 16px;
    img{
        display: inline-block;
        height: 20px;
        margin-right: 5px;
    }
}
.btn_white{
    @include btn;
    background-color: $bg-white;
    color: $blue;
    &:hover{
        background-color: $bg-pink;
    }
}
.btn_blue{
    @include btn;
    background-color: $bg-blue;
    color: $bg-white;
}

//link
@mixin link{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.link{
    @include link;
    // color: $black;
}
// .link-blue{
//     @include link;
//     color: $blue;
// }

//list
ul{ 
    li{
        list-style: none;
        .link{
            text-decoration: none;
        }
    }
}
//titles
h1{
    font-size: $fs-big;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1rem;
}
h2{
    font-size: $fs-large;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 1rem;
}
h3{
    font-size: $fs-medium;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
}
h1, h2, h3{
    color: $black;
}
//utilities
.flex{
    display: flex;
}


//structure
header, nav, section, footer, .container{
    height: 100%;
}
#header{
    // min-height: 800px;
    background-color: $bg-white;
    padding: 20px 0;
}
#navbar{
    height: 80px;
}
#main{
    min-height: 800px;
}
#section-top, #section-bottom{
    background-color: $bg-pink;
    min-height: 600px;
    padding: 40px 0;
}
#section-middle{
    background-color: $bg-white;
    min-height: 600px;
    padding: 40px 0;
}
#footer{
    background-color: $bg-white;
    min-height: 600px;
}

