#main{
    padding: 20px 0;
    #section-top{
        .container{
            padding: 30px 0; 
            &:first-of-type{
                border-bottom: 1px solid black};
            .row{
                padding: 40px 0;
                [class*="col-"]{
                    text-align: center;
                    img{
                        display: block;
                        margin: auto;
                        height: 130px;
                    }
                    .description{
                        margin-bottom: 30px;
                    }
                    #before{
                        height: 300px;
                        margin: 40px auto; 
                    }
                }
            }
        }
    }
    #section-middle{
        padding: 40px 0;
        .container{
            .row{
                padding-bottom: 30px;
                [class*="col-"]{ //-col
                    img{
                        width: 100%;
                    }
                    .description{
                        h2{
                            margin-bottom: 40px;
                            line-height: 2;
                        }
                        p{
                            font-size: $fs-medium;
                            line-height: 1.5;
                            margin-bottom: 40px;
                            font-weight: 400;
                        }
                        a{
                            display: block;
                            text-decoration: none;
                            font-size: $fs-medium;
                            font-weight: 300;
                        }
                        img{
                            display: block;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
        
    }
    #section-bottom{
        padding: 40px 0;
        .container{
            h1{
                margin: auto;
                text-align: left;
                margin-bottom: 40px;
                img{
                    height: 40px;
                }
            }
            .textarea{
                width: 90%;
                margin: auto;
                margin-bottom: 40px;
                height: max-content;
                padding: 30px 20px;
                border: 1px solid $blue;
                border-radius: 10px;
                font-family: Helvetica, sans-serif;
                background-color: $bg-white;
                position: relative;
                .fa-quote-left{
                    position: absolute;
                    top: -16px;
                    left: 0px;
                    color: $blue;
                    font-size: 35px; 
                }
                .founders{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 30px;
                    img{
                        height: 60px;
                        margin-right: 20px;
                    }
                    .signature{
                        font-size: $fs-small;
                        strong{
                            color: $blue;
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
            }
            .sign-up{
                text-align: center;
                span{
                    margin: 0 5px;
                }
                .email{
                    margin-top: 30px;
                    font-size: $fs-small;
                }
            }
        }
    }

}